<div class="container">
 <div class="row">
  <h1>投稿詳細</h1>
   <table>
     <tr>
       <td class: title><%= @blog.title %></td>
     </tr>
    <tbody>
     <tr>
      <td>
       <div class="blogs"></div>
       <%= link_to blog_path(@blog) do %>
       <%= attachment_image_tag @blog, :image, :fill, 360, 240, format: 'jpeg' %>
       <% end %>
      </td>
     </tr>
    </tbody>
   </table>
 </div>
</div>

